MM2_WALLET_PASSPHRASE=XX_komodefi_XX
MM2_RPC_PASSWORD=XX_rpcpassword_XX
MM2_RPC_PORT=7783
MM2_IPV4_ADDR=172.77.0.2
MM2_DATA_PATH=/mm2
DOCKER_KOMODEFI_ORDERBOOK_NETWORK_SUBNET=172.77.0.0/24
MM2_MIDDLEWARE_DATA_PATH=/middleware-data
MM2_MIDDLEWARE_PORT=16077
MM2_MIDDLEWARE_IPV4_ADDR=172.77.0.3
MM2_FRONTEND_IPV4_ADDR=172.77.0.4
MM2_FRONTEND_PORT=17077
MMBOT_URL="http://XX_myip_XX:16077"
ME_PUBLIC=false
ME_PRIVATE=true
